html {
	font-family: sans-serif;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: black;
	background-color: white;
	align-items: center;
}

.content {
	max-width: 980px;
	border-bottom: 1px solid #eee;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	padding-bottom: 0.3em;
	font-size: 2em;
	border-bottom: 1px solid #eee;
}

table {
	border: 1px solid #ccc;
	background-color: #eee;
	margin-left: 10px;
	margin-bottom: 20px;
}

iframe, img, video {
	max-width: min(80vw, 100%);
}

iframe {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

pre {
	background: black;
	color: white;
	margin: 5px;
	overflow-x: scroll;
	padding: 5px;
}

.image-collection {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.image-collection img {
	height: 200px;
	width: auto;
	object-fit: cover;
	flex: none;
}
