html {
    font-family: sans-serif;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    background-color: black;
    align-items: center;
}

.content {
    max-width: 980px;
    border-bottom: 1px solid #eee;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
    transform: skew(-10deg);
    font-variant: small-caps;
    transform: skew(-10deg);
    color: black;
}

h1 {
    font-size: 2em;
    background: #FC0;
}

h2 {
    background: red;
}

h3 {
    background: mediumpurple;
    width: 10em;
}

a {
    text-decoration: none;
    color: white;
    background: #00fa;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

a:visited {
    color: grey;
}

ul {
    list-style-type: none;
}

ul li::before {
    background: blue;
    width: 30px;
    height: 20px;
    display: inline-block;
    margin-bottom: -3px;
    margin-left: -38px;
    margin-right: 5px;
    content: '';
    border-right: 2px solid blue;
    border-radius: 0px 10px 10px 0px;
}

ol {
    list-style-type: lower-greek;
}

ol li::before {
    background: hsl(194, 100%, 39%);
    width: 1px;
    height: 20px;
    display: inline-block;
    content: '';
    margin-bottom: -5px;
    margin-right: 5px;
}

table {
    border: 1px solid #ccc;
    background-color: #eee;
    margin-left: 10px;
    margin-bottom: 20px;
}

iframe, img {
    max-width: 80vw;
}

img {
    border: 5px solid #00c;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

iframe {
    width: calc(100% - 20px);
    display: flex;
    border: 20px solid #FC0;
    border-left: none;
    border-right: none;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

pre {
	background: black;
	color: #0f0;
	margin: 5px;
	overflow-x: scroll;
	padding: 5px;
	border: 5px solid green;
	border-radius: 10px;
}
